.form-label {
    color: #9cb3c9;
    letter-spacing: 0.04rem;
    font-size: 17px;
    font-weight: 600;
}

.form-control {
    color: #4d4d4d !important;
    font-size: 17px !important;
    border-radius: 3px !important;
    padding: 8px !important;
}

.addNewFormButton {
    padding: 4px 5px 4px 5px !important;
    background-color: #4799eb !important;
    border-color: #4799eb !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.addNewFormButton:hover {
    background-color: #E81E47 !important;
    border-color: #E81E47 !important;
}

.removeFormButton {
    margin-right: 10px;
    padding: 4px 5px 4px 5px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    background-color: #E81E47 !important;
    border-color: #E81E47 !important;
}

.removeFormButton:hover {
    background-color: #4799eb !important;
    border-color: #4799eb !important;
}

.educationFormSubmit {
    margin-top: 15px;
    padding: 8px 10px 8px 10px !important;
    background-color: #4799eb !important;
    border-color: #4799eb !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.educationFormSubmit:hover {
    background-color: #E81E47 !important;
    border-color: #E81E47 !important;
}