
.jobList {
    margin-top: 30px;
    margin-bottom: 30px;
}

.jobCard {
    background-color: #334861;
    margin: 6px;
    padding: 15px;
    border-radius: 6px;
}

.editButton {
    padding: 6px 8px 6px 8px !important;
    background-color: #4799eb !important;
    border-color: #4799eb !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.editButton:hover {
    background-color: #E81E47 !important;
    border-color: #E81E47 !important;
}

.deleteButton {
    margin-right: 10px;
    padding: 6px 8px 6px 8px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    background-color: #E81E47 !important;
    border-color: #E81E47 !important;
}

.deleteButton:hover {
    background-color: #4799eb !important;
    border-color: #4799eb !important;
}