
.block {
    background-image: url('../../images/family-custom2.jpg');
    position: relative;
    height: 600px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}