.form-select {
    color: #4d4d4d !important;
    font-size: 17px !important;
    border-radius: 3px !important;
    padding: 8px !important;
}

.form-label {
    color: #9cb3c9;
    letter-spacing: 0.04rem;
    font-size: 17px;
    font-weight: 600;
}

.form-control {
    color: #4d4d4d !important;
    font-size: 17px !important;
    border-radius: 3px !important;
    padding: 8px !important;
}

.memberFormSubmit {
    background-color: #E81E47 !important;
    border-color: #E81E47 !important;
}

.memberFormSubmit:hover {
    background-color: #4799eb !important;
    border-color: #4799eb !important;
}